<div class="text-center" id="homepage">
	<h1>Newspaper Articles</h1>
	<br>

	<h3>Save Newspaper Articles for future reference.<br>
	You only need to paste the article URL and save the automatically created article.</h3>
	<h5>Only '<a href="http://www.theguardian.com/" target="_blank">The Guardian</a>' is supported.</h5>

	<%= link_to 'Video demo', 'http://screencast.com/t/JZ7kvEhFOey', target: '_blank', class: 'btn btn-default btn-lg homepage-btn' %>
	<%= link_to 'Create account', new_user_registration_path, class: 'btn btn-primary btn-lg homepage-btn' %>
</div>