<div class="text-center">
	<h1>Newspaper Articles</h1>
	<br>
	<p>I wanted to save some articles for future reference. This application will be provided with a link and it will 'copy' the article I want to save for later.</p>
	<%= link_to 'Create account', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</div>