.scrape-form {
	text-align: center;
	margin: 30px 0;
	#search {
		width: 300px;
	}
	input, .btn { margin: 0 15px; }
	.btn-primary { margin-left: -5px; }
}

.all_aricles {
	// td.thumbnails {
	//   background-color: none !important;
	//   border: 0px !important;
	//   border-radius: 0px !important;
	// }
}

.article_buttons {
	float: right;
	margin: 20px;
}