.scrape-form {
	text-align: center;
	margin: 30px 0;
	#search {
		width: 300px;
	}
	input, .btn { margin: 0 15px; }
	.btn-primary { margin-left: -5px; }
}

.published_datepicker {
	margin-bottom: 15px;
}

.article_buttons {
	float: right;
	margin: 20px;
}